body {
    background-color:slategray;
    margin: 0;
    font-family: "Margarine", sans-serif;
    color:white;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:black;
}

.logo {
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
.option a {
    text-decoration: none;
    color: white;
    margin: 0 20px;
    position: relative;
}
.option a:hover{
    text-decoration: underline;
    color: slategray;
}
.middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle img{
     border: 70%;  ;
     height: 380px;
     width: 300px ;
     bottom: 30px;
     box-shadow: 0 0 20px 10px rgba(25,0,0,0.8);
}
.left {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 20px;
    margin-top: 50px;
}
.left {
    font-family: 'Arial', sans-serif;
    margin-bottom: 0;
    color: white;
    font-size: 30px;
    font-weight: lighter;
    display: block;
    margin-left: 15px;   
}
.container {
    color: white;
    font-size: 2.26rem;
    text-transform: uppercase;
    display: flex;
    justify-content: start;
    align-items:start;
    font-weight: 200;
    /* margin-right: 50px; */
  }
  
  .animation {
    height: 60px;
    overflow:hidden;
    margin-left: 1rem;
    align-items: start;
}
  .animation div:first-child {
    animation: text-animation 4s infinite;
  }
  
  .first div {
    background-color:blue;
  }
  .second div{
    background-color:blue;
  }
  .third div{
    background-color:blue;
  }
    @keyframes text-animation {
        0% {margin-right: 0;}
        10% {margin-right: 0;}
        20% {margin-right: 0}
        30% {margin-right: 0}
        40% {margin-right: -11.24rem;}
        60% {margin-right: -11.24rem;}
        70% {margin-right: 0;}
        80% {margin-right: 0;}
        90% {margin-right: 0;}
        100% {margin-right: 0;}
      }
  .about{
    margin-top: 200px;
    margin-left: 100px;
}
.someel {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.about p {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.skill{
    display: flex;
    gap: 30px;
}
.skill img{
    height: 70px;
}
.skill{
    margin-top: 150px;
    margin-left: 100px;
    font-size: 30px;
}
.contact1{
    margin-top: 150px;
    margin-left: 100px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.conatctme{
    display: flex;
    justify-content: space-evenly;
}
.social{
    display: flex;
    gap: 20px;
}
.social img{
    height: 50px;
}
.footer{
    height: 50px;
    text-align: center;
    font-size: 25px;
    color:white;
}
